*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-yellow: #FABE1B;
    --color-orange: #FC7011;
    --color-red: #EC203E;   
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.container h1, .container p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}