*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #006DFF;
    --color-2: #F4F4F4;
    --color-3: #FFFFFF; 
    --color-4: #212529;
    --color-5: #292C36;  
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.container h1, .container p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}